<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.student.domain.entity.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="studentCode" column="student_code" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="getStudent" resultType="com.student.domain.entity.Student">
        select distinct s.*
        from student s
        left join student_class sc on s.id = sc.student_id
        left join class c on c.id = sc.class_id
        <where>
            <if test="name != null and name != ''">
                and s.name like concat('%', #{name}, '%')
            </if>

            <if test="sex != null and sex != ''">
                and s.sex = #{sex}
            </if>

            <if test="studentCode != null and studentCode != ''">
                and s.student_code = #{studentCode}
            </if>

            <if test="classId != null">
                and c.id = #{classId}
            </if>

            <if test="level != null">
                and s.level = #{level}
            </if>
        </where>

    </select>
</mapper>
